<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cotações</title>
  <script src="https://code.highcharts.com/highcharts.js"></script>
</head>
<body>
<div id="graph" style="width:100%; height:400px;"></div>
</body>
<script>
    function searchQuoteAPI() {
        const endpoint = "{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{{ object.get_absolute_url }}/api/v1/quotes/"
        fetch(endpoint)
            .then((response) => {
                console.log(response)
                response.json()
            })
            .then((data) => {
                console.log(data)
                alert(data)
            })
    }

    searchQuoteAPI()
</script>
<script>
    Highcharts.chart('graph', {

        title: {
            text: "Cotação das moedas entre o período {{ start_at|date:'d/m/Y' }}-{{ end_at|date:'d/m/Y' }}"
        },

        subtitle: {
            text: 'Fonte: https://www.vatcomply.com/documentation'
        },

        yAxis: {
            title: {
                text: 'Valor'
            }
        },

        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },

        plotOptions: {
            series: {
                label: {
                    connectorAllowed: false
                },
                pointStart: 2010
            }
        },

        series: [{
            name: 'Installation',
            data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]
        }, {
            name: 'Manufacturing',
            data: [24916, 24064, 29742, 29851, 32490, 30282, 38121, 40434]
        }, {
            name: 'Sales & Distribution',
            data: [11744, 17722, 16005, 19771, 20185, 24377, 32147, 39387]
        }, {
            name: 'Project Development',
            data: [null, null, 7988, 12169, 15112, 22452, 34400, 34227]
        }, {
            name: 'Other',
            data: [12908, 5948, 8105, 11248, 8989, 11816, 18274, 18111]
        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }

    });
</script>
</html>