{% load l10n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cotações</title>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <style>
    form{
        margin-top: 1rem;
        margin-bottom: 100px;
    }
  </style>
</head>
<body>

<form action="./" method="GET">

  <label for="start_at">Data de Início</label>
  <input type="date" name="start_at" id="start_at" required value="{{ period.start_at|date:'Y-m-d' }}">

  <label for="end_at">Data de Fim</label>
  <input type="date" name="end_at" id="end_at" required value="{{ period.end_at|date:'Y-m-d' }}">

  <button>Pesquisar</button>

</form>

<a href="{% url 'core:api-quote-list' %}?start_at=2022-07-01&end_at=2022-07-05">Testar a API aqui</a>

{% for message in messages %}
  <h1 style="color: red">{{ message }}</h1>
{% endfor %}

<div id="graph" style="width:100%; height:400px;"></div>
</body>
<script>
    let xAxisCategories = []
    let seriesFromContext = []
    let aux

    {% for category in range_dates %}
        aux = new Date("{{ category|date:'Y-m-d' }}")
        xAxisCategories.push(aux)
    {% endfor %}

    {% for result in results %}
        aux = {
            name: "{{ result.key }}",
            data: [],
        }
        {% for value in result.quotes %}
            aux.data.push(parseFloat("{{ value|unlocalize }}"))
        {% endfor %}
        seriesFromContext.push(aux)
    {% endfor %}

    Highcharts.chart('graph', {

        title: {
            text: "Cotação das moedas entre o período {{ period.start_at }}-{{ period.end_at }}"
        },

        subtitle: {
            text: 'Fonte: https://www.vatcomply.com/documentation'
        },

        yAxis: {
            title: {
                text: 'Valor'
            }
        },

        xAxis: {
          categories: xAxisCategories,
        },

        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },

        plotOptions: {
            series: {
                label: {
                    connectorAllowed: false
                },
            }
        },

        series: seriesFromContext,

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }

    });
</script>
</html>